<ion-view view-title="List">
    <ion-content class="has-header">

    <div class="card padding" ng-repeat="scan in scans | orderBy: '-dateTaken'" ng-click="goToDetail(scan.rowid)">
        
        <h1>Name: {{ scan.name }}</h1>
        <p>Comment: {{ scan.comment }}</p>
        <div class="item item-image">
            <img src="{{ scan.image.source }}" style="max-width: 85%">
            <h3>Text: {{ scan.text }}</h1>
            <h3>Format: {{ scan.format }}</h3>
            <h3>Date: {{ scan.dateTaken | date: 'h:mm a - dd MMM, yyyy' }}</h3>
        </div>
        <p>id: {{ scan.rowid }}</p>
    </div>
    <!--
    <ion-list type="card">
        <ion-item ng-repeat="scan in scans | orderBy: '-dateTaken'" class="item-image">
            <img src="{{scan.image.source}}" />
            <h1>Text: {{ scan.text }}</h1>
            <h3>Format: {{ scan.format }}</h3>
            <h3>Date: {{ scan.dateTaken | date: 'h:mm a - dd MMM, yyyy'  }}</h3>
        </ion-item>
    </ion-list>
    -->
    </ion-content>
</ion-view>
