<ion-view view-title="New Scan">
    <ion-content class="has-header">

        <ion-list>
            <ion-item class="item-input item-stacked-labels">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Coffee store"></input>
            </ion-item>
            <ion-item class="item-input item-stacked-labels">
                <span class="input-label">Comments</span>
                <textarea placeholder="10 for a free grande coffee"></textarea>
            </ion-item>

             <button class="button button-block button-assertive" ng-click="scanBarcode()">Scan Code</button>
             
        </ion-list>
    </ion-content>
</ion-view>